{% extends 'base.html' %}
{% block page_title %}First Aid Tips of the Week | KLFA{% endblock %}
{% load static %}
{% block document %}
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'tipsoftheweek' %}">First Aid Tips of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Sale</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="mx-auto">Best Selling This Week</h3>
            <div class="row">
              <div class="col-12 card-deck">
                <div class="card">
                  <img class="card-img-top" src="..." alt="KLFA Tip 1">
                  <div class="card-body">
                    <h5 class="card-title">Half Body Mannequin</h5>
                    <p class="card-text"> £33.90</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="..." alt="KLFA Tip 2">
                  <div class="card-body">
                    <h5 class="card-title">Introduction to First Aid Book</h5>
                    <p class="card-text">£5.99</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="..." alt="KLFA Tip 3">
                  <div class="card-body">
                    <h5 class="card-title">Learn to Administer CPR DVD</h5>
                    <p class="card-text">£3.99</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="..." alt="KLFA Tip 4">
                  <div class="card-body">
                    <h5 class="card-title">Baby Mannequin</h5>
                    <p class="card-text"> £25.99</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>  
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-success mx-auto">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}