{% extends 'base.html' %}
{% block page_title %}Products | KLFA{% endblock %}
{% load static %}
{% block document %}
    <!--Navigation Bar-->
    <header class="d-none d-md-block">
      <nav class="nav-pages">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tip of the Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-tab active" href="{% url 'sale' %}">Products</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="container-fluid bg">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center padding-top">Products</h1>
          <hr>
          {% if page_number %}
            <p class="text-center">Page: {{ page_number }}</p>
          {% else %}
            <p class="text-center">Page: 1</p>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 mx-auto">
          <div class="filter">
              <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="{% url 'get_books' %}">Books</a>
                <a class="dropdown-item" href="{% url 'get_ebooks' %}">E-Books</a>
                <a class="dropdown-item" href="{% url 'get_posters' %}">Posters</a>
                <a class="dropdown-item" href="{% url 'get_cds' %}">CDs & DVDs</a>
                <a class="dropdown-item" href="{% url 'get_manikins' %}">Manikins</a>
                <a class="dropdown-item" href="{% url 'get_courses' %}">Courses</a>
                <a class="dropdown-item" href="{% url 'get_firstaidkits' %}">First Aid Kits</a>
                <a class="dropdown-item" href="{% url 'get_extras' %}">Extras</a>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
      <!--Displays products on page (9 products per page)-->
      
        {% for product in products %}
          <div class="col-xs-12 col-sm-6 col-md-4">
            
            <!--Shows a detailed view of product when user clicks on product card -->
            
            <div class="card text-center margin-bottom">
              <div class="panel-body">
                <a href="{% url 'view_product' product.id %}" target="_blank" class="cardLink">
                  <div class="col">
                    <h3 class="text-truncate">{{ product.name }}</h3>
                  </div>
                  <div class="col">
                    {% if product.category == "Courses" %}
                      <img src="{% static 'images/cover_courses.jpg' %}" height="200" width="190" class="product-image rounded" alt="KLFA Product">
                    {% else %}
                      <img src="{{ MEDIA_URL }}{{ product.image }}" height="200" width="190" class="product-image rounded" alt="KLFA Product">
                    {% endif %}
                  </div>
                </a>
                <div class="col">
                  <p>£{{ product.price }}</p>
                </div>
                <div class="col input-bar">
                  <form method="POST" action="{% url 'add_to_cart' product.id %}">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="number" name="quantity" class="form-control" placeholder="Qty" size="3" min="0" max="999" value="1" aria-label="Quantity" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-success" type="submit">Add</button>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-xs-12 mx-auto">
            <h4 class="text-center">- No results have been found - </h4>
            <p class="text-center"><a class="btn btn-info" style="margin-bottom: 30px;" href="{% url 'home' %}">Return to Homepage</a></p>
          </div>
        {% endfor %}
      </div>
            
      <!--Pagination-->      
      <nav class="row justify-content-center" aria-label="productsPagination">
        {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}" tabindex="-1"><<</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1"><<</a>
              </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
              {% if products == i %}
                <li class="page-item active">
                  <b><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span>1</a></b>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if products.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">>></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">>></a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </nav>
    </section>

{% endblock %}