{% extends 'base.html' %}
{% block page_title %}Sale | KLFA{% endblock %}
{% load static %}
{% block document %}

    <!--Navigation Bar-->
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tips of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'sale' %}">Sale</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section class="container">
        <div class="row row-flex">
            <div class="col-12 mx-auto">
                <h2>Sale</h2>
            </div>
            {% for product in products %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                    <div class="panel-body">
                        <!--<div class="product" style="background-image: {{ MEDIA_URL }}{{ product.image }}"></div>-->
                        <h3>{{ product.name }}</h3>
                        <img src="{{ MEDIA_URL }}{{ product.image }}" height="200" alt="KLFA Product">
                        <p class="product-description">{{ product.description }}</p>
                        <p>{{ product.price }}</p>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}