{% extends 'base.html' %}
{% block page_title %}Kids Quiz | KLFA{% endblock %}
{% load static %}
{% block document %}
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tips of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mx-auto">Learning For Kids Quiz</h1>
                
                <!--Quiz Questions-->
                <ol>
                    {% for kq in kidsquestions %}
                        <li>{{ kq.question }}</li>
                        <a class="btn btn-light">{{ kq.answer_a }}</a>
                        <a class="btn btn-light">{{ kq.answer_b }}</a>
                        <a class="btn btn-light">{{ kq.answer_c }}</a>
                        <p class="hidden" style="display:none;">Correct Answer: {{ kq.correct_answer }}</p>
                        <p class="hidden" style="display:none;">{{ kq.solution }}</p>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}