{% extends 'base.html' %}
{% block page_title %}Learning For Kids | KLFA{% endblock %}
{% load static %}
{% block document %}
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tips of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <div class="card-body">
              <h1 class="mx-auto">Learning For Kids</h1>
              <p>You are never too young to learn first aid!</p>
              <div class="row">
                <div class="col-12 card-deck">
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 1">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 2">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 3">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 4">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <a class="btn btn-success" href="">Shop Now</a>
            <div class="row">
              <!-- Begin Quiz trigger modal -->
              <div class="col s12 quiz-btn">
                <a class="btn btn-info" href="{% url 'learningforkidsquiz' %}">Kids Test</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Kids Quiz Modal -->
        <div class="modal fade" id="kidsQuizModal" tabindex="-1" role="dialog" aria-labelledby="kidsQuizModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="kidsQuizModalLabel">Learning For Kids Quiz</h5>
              </div>
              <div class="modal-body">
                <ol>
                  <li>What phone number should you call in an emergency?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)0800</span>
                    <span class="mx-auto">(b)100</span>
                    <span class="mx-auto">(c)999</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input0">
                  <li>Who can give first aid treatment?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Only ambulance staff</span>
                    <span class="mx-auto">(b)Only adults</span>
                    <span class="mx-auto">(c)Adults and children</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input1">
                  <li>If someone is choking, how can you help?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Hit them on the back</span>
                    <span class="mx-auto">(b)Lean them backwards</span>
                    <span class="mx-auto">(c)Lie them on their side</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input2">
                  <li>What is the best thing to put on a burn at first?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Warm running water</span>
                    <span class="mx-auto">(b)Cold running water</span>
                    <span class="mx-auto">(c)Kitchen film</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input3">
                  <li>Pressing on the wound is the treatment for what?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)A broken bone</span>
                    <span class="mx-auto">(b)A bad bleed</span>
                    <span class="mx-auto">(c)A bee sting</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input4">
                  <li>Which of these is the best way to treat a nose bleed?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Lean head forward, pinch soft part of the nose</span>
                    <span class="mx-auto">(b)Lean head forward, pinch hard part of the nose</span>
                    <span class="mx-auto">(c)Lean head backwards, pinch soft part of the nose</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input5">
                  <li>Why might someone use an inhaler?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)They get nosebleeds a lot</span>
                    <span class="mx-auto">(b)They have asthma</span>
                    <span class="mx-auto">(c)They fall over often</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input6">
                  <li>If you find someone collapsed on the floor, what should you do first?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Put my jacket over them to keep them warm</span>
                    <span class="mx-auto">(b)Check if they are breathing</span>
                    <span class="mx-auto">(c)Run off to find an adult</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input7">
                  <li>How would you help an unconscious person who is breathing?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Sit them up and make sure their head is facing forward</span>
                    <span class="mx-auto">(b)Turn them on their side, with their head back</span>
                    <span class="mx-auto">(c)Turn them on their side, with their head forward</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input8">
                  <li>What is the best way to help a person with a broken leg?</li>
                  <div class="col s12">
                    <span class="mx-auto">(a)Press on it</span>
                    <span class="mx-auto">(b)Pour cold water on it</span>
                    <span class="mx-auto">(c)Keep it still and support it</span>
                  </div>
                  <input type="text" class="form-control" maxlength="1" size="1" placeholder="Enter a, b or c" id="input9">
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                <button type="button" class="btn btn-primary" onclick="checkAnswer();">Submit</button>
              </div>
            </div>
          </div>
        </div>
{% endblock %}