{% extends 'base.html' %}
{% block page_title %}Learning For Kids | KLFA{% endblock %}
{% load static %}
{% block document %}
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tips of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Sale</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <div class="card-body">
              <h3 class="mx-auto">Learning For Kids</h3>
              <div class="row">
                <div class="col-12 card-deck">
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 1">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 2">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 3">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="..." alt="Kids KLFA Product 4">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <a class="btn btn-success" href="">Shop Now</a>
            <div class="row">
              <div class="col s12 quiz-btn">
                <a class="btn btn-info" href="{% url 'kidsquiz' %}">Kids Test</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}