{% extends 'base.html' %}
{% block page_title %}Learning For Kids | KLFA{% endblock %}
{% load static %}
{% block document %}
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tip of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid bg">
      <div class="text-center">
        <div class="card-body">
          <h1 class="mx-auto">Learning For Kids</h1>
          <hr>
          <p>You are never too young to learn first aid!</p>
          <img class="mx-auto kids-image" src="https://keeplearningfirstaid.s3.eu-west-2.amazonaws.com/media/images/learningforkids.jpg" height="150" alt="Kids">

          <!-- Button redirects users to Kids First Aid quiz -->
          <div class="center">
            <a class="btn btn-info quiz-btn animated heartBeat" href="{% url 'learningforkidsquiz' %}" data-toggle="tooltip" data-placement="bottom" title="Kids test your knowledge">Kids Quiz</a>
          </div>
        
          <!--Learning For Kids Featured Products-->
          <section id="featured-kids-content" class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <a href="{% url 'get_posters' %}">
                    <img class="featured-lfk img-fluid" src="{% static "images/kidscollection1.png" %}" alt="KLFA Kids Collection">
                  </a>
                <div class="category">
                  <h4 class="card-heading">First Aid Posters</h4>
                  <p class="card-text">Ensure you are ready to provide help in any emergency situation.</p>
                  <a href="{% url 'get_posters' %}" class="btn btn-success shop-now">Purchase First Aid Posters</a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <a href="{% url 'get_extras' %}">
                    <img class="featured-lfk img-fluid" src="{% static "images/kidscollection2.jpg" %}" alt="KLFA Kids Collection">
                  </a>
                <div class="category">
                  <h4 class="card-heading">First Aid Stickers</h4>
                  <p class="card-text">Ensure you know what to do in any emergency situation.</p>
                  <a href="{% url 'get_extras' %}" class="btn btn-success shop-now">Purchase Learning Extras</a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <a href="{% url 'get_books' %}">
                    <img class="featured-lfk img-fluid" src="{% static "images/kidscollection3.jpg" %}" alt="KLFA Kids Collection">
                  </a>
                <div class="category">
                  <h4 class="card-heading">First Aid Books</h4>
                  <p class="card-text">Build your confidence and enhance your knowledge in delivering First Aid.</p>
                  <a href="{% url 'get_books' %}" class="btn btn-success shop-now">Purchase First Aid Books</a>
                </div>
              </div>
            </div>
          </section>
        
        </div>
      </div>
    </div>
{% endblock %}