{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'images/logo.jpg' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo" src="{% static 'images/logo.jpg' %}" alt="Logo">
      </a>
      {% if messages %}
      <div class="col-4">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link nav-top" href="#">
              <i class="fas fa-user-circle"></i>
              Account
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-top" href="{% url 'logout' %}">
              <i class="fas fa-user-circle"></i>
              Log out
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link nav-top" href="{% url 'registration' %}">
              <i class="fas fa-user-circle"></i>
              Register/Log In
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link nav-top" href="#">
              <i class="fas fa-search"></i>
              Search
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-top" href="#">
              <i class="fas fa-shopping-cart"></i>
              Basket
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <nav class="nav-pages">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav-tab active" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-tab" href="#">First Aid Tips of the Week</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-tab" href="#">Learning for Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-tab" href="#">Learning for Adults</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-tab" href="#">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-tab" href="#">Sale</a>
      </li>
    </ul>
  </nav>
  
  <!--Main Body-->
    {% block document %}{% endblock %}
  <!--/Main Body-->
  
  <footer class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h5 class="card-title mx-auto">Subscribe to our newsletter to receive the best deals on our learning products!</h5>
        <input type="text" name="Email" class="mx-auto" placeholder="Email" required><input type="submit">
        <p class="card-text"><a href="#">Privacy Policy</a></p>
        <p class="card-text"><a href="#">Terms & Conditions</a></p>
        <p class="card-text"><a href="#">Contact Us</a></p>
        <div class="card-footer text-muted">
          Keep Learning First Aid
        </div>
      </div>
    </div>
  </footer>
  
  <!--Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    $('#myCarousel').on('slide.bs.carousel', function () {
    });
  </script>
  </body>
</html>