{% extends 'base.html' %}
{% block page_title %}FAQs | KLFA{% endblock %}
{% load static %}
{% block document %}
  <!--Page Navigation Bar-->
  <header>
    <nav class="nav-pages">
      <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tips of the Week</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-tab active" href="{% url 'faqs' %}">FAQs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-tab" href="{% url 'sale' %}">Sale</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xs-12 text-center">
        <h3 class="padding-top">Frequently Asked Questions</h3>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="">
                <button class="btn btn-link" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is KLFA?
                </button>
              </h5>
            </div>
            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                KLFA stands for Keep Learning First Aid. We are UK based providers of First Aid learning and training material. 
                Since we were founded in 2016, we are now offering a range of products from CPR Manikins to First Aid Manual books for all 
                ages in order to equip people with the skills and confidence needed to provide first aid in emergency situations.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Can I buy First Aid kits from Keep Learning First Aid?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                We do have a small collection of First Aid Kits available for purchase from our <a href="">online store</a>. However, in the case of an emergency, please call 999 immediately. If you live outside the UK, in the case of an emergency, please call your emergency services immediately.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}