{% extends 'base.html' %}
{% block page_title %}Adults Quiz | KLFA{% endblock %}
{% load static %}
{% block document %}
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tip of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid" style="background-color: #e5ffec;">
        <div class="row">
            <div class="col-12">
                <h1 class="mx-auto">Learning For Adults Quiz</h1>
                
                <!--Quiz Questions-->
                <div class="row">
                            <div class="col-12">
                <ol>
                    {% for aq in adultsquestions %}
                        <li>{{ aq.question }}</li>
                        
                            <p>A. {{ aq.answer_a }}</p>
                            <p>B. {{ aq.answer_b }}</p>
                            <p>C. {{ aq.answer_c }}</p>
                            <p>D. {{ aq.answer_d }}</p>
                            
                            <a class="btn btn-light">A</a>
                            <a class="btn btn-light">B</a>
                            <a class="btn btn-light">C</a>
                            <a class="btn btn-light">D</a>
                            
                        <p class="hidden" style="display:none;">Correct Answer: {{ aq.correct_answer }}</p>
                        <p class="hidden" style="display:none;">{{ aq.solution }}</p>
                    {% endfor %}
                </ol>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}