{% extends 'base.html' %}
{% block page_title %}Learning For Adults | Keep Learning First Aid{% endblock %}
{% load static %}
{% block document %}
  <!--Navigation Bar-->
  <header class="d-none d-sm-block">
    <nav class="nav-pages">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tip of the Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab active" href="{% url 'learningforadults' %}">Learning for Adults</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'sale' %}">Products</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <!--Page heading and message-->
  <div class="container-fluid bg">
    <div class="text-center">
      <div class="card-body">
        
        <h1 class="mx-auto">Learning For Adults</h1>
        <hr>
        <p>Save Lives. First Aid is for everyone, everywhere.</p>
        
        <!--Button redirects users to Adults First Aid quiz-->
        <div class="center">
          <a class="btn btn-info quiz-btn animated heartBeat" href="{% url 'learningforadultsquiz' %}" data-toggle="tooltip" data-placement="bottom" title="Adults test your knowledge">Begin Quiz</a>
        </div>
        
        <!--Learning For Adults Featured Products-->
        <section id="featured-content" class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-4">
                <a href="{% url 'get_firstaidkits' %}">
                  <img class="featured img-fluid" src="{% static "images/firstaidkit.jpg" %}" alt="KLFA First Aid Kits">
                </a>
              <div class="category">
                <h4 class="card-heading">First Aid Kits</h4>
                <p class="card-text">Ensure you are ready to provide help in any emergency situation.</p>
                <a href="{% url 'get_firstaidkits' %}" class="btn btn-success shop-now">Purchase First Aid Kits</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
            
                <a href="{% url 'get_courses' %}">
                  <img class="featured img-fluid" src="{% static "images/courses.jpg" %}" alt="KLFA Courses">
                </a>
              <div class="category">
                <h4 class="card-heading">First Aid Courses</h4>
                <p class="card-text">Ensure you know what to do in any emergency situation.</p>
                <a href="{% url 'get_courses' %}" class="btn btn-success shop-now">Purchase Courses</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="{% url 'get_manikins' %}">
                  <img class="featured small-padding img-fluid" src="{% static "images/manikin.jpg" %}" alt="KLFA Manikins">
                </a>
              <div class="category">
                <h4 class="card-heading">First Aid Manikins</h4>
                <p class="card-text">Build your confidence and enhance your knowledge in delivering First Aid.</p>
                <a href="{% url 'get_manikins' %}" class="btn btn-success shop-now">Purchase First Aid Manikins</a>
              </div>
            </div>
          </div>
        </section>
        
      </div>
    </div>
  </div>
{% endblock %}