{% extends 'base.html' %}
{% block page_title %}Learning For Adults | Keep Learning First Aid{% endblock %}
{% load static %}
{% block document %}

    <!--Navigation Bar-->
    <header>
        <nav class="nav-pages">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tips of the Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab active" href="{% url 'learningforadults' %}">Learning for Adults</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-tab" href="{% url 'sale' %}">Sale</a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}