{% extends 'base.html' %}
{% block page_title %}First Aid Tip of the Week | KLFA{% endblock %}
{% load static %}
{% block document %}
  <header class="d-none d-md-block">
    <nav class="nav-pages">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab active" href="{% url 'firstaidtipsoftheweek' %}">First Aid Tip of the Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'learningforkids' %}">Learning for Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'learningforadults' %}">Learning for Adults</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'faqs' %}">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-tab" href="{% url 'sale' %}">Products</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="container-fluid bg">
    <div class="row justify-content-center">
      <div class="col-xs-12">
        <div class="card-body text-center">
          <h1 class="mx-auto">First Aid Tip of the Week</h1>
          <div class="row">
            <div class="col-xs-12 col-md-8 mx-auto animated tada" style="margin: 50px;">
              <div id="firstAidTip" width="500" class="img-fluid">
              {% for firstaidtip in firstaidtips %} 
                <i class="far fa-bell" style="font-size: 30px;"></i>
                <h4>{{ firstaidtip.title }}...</h4>
                <p>{{ firstaidtip.tip }}</p>
                <small>Week {{ firstaidtip.post_id }}</small>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}